body {
  font-family: 'Roboto', sans-serif;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}

main {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: $text-primary-color;
}

.text-lowercase {
  text-transform: lowercase;
}

.hidden {
  display: none;
}

// Mixins
@mixin card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: $text-primary-color;
  font-weight: $base-font-weight;

  .good__name {
    margin-bottom: 0.8rem;
    text-transform: capitalize;
    font-size: $font-size-m;
  }

  .good__rating {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 1.2rem;

    img:not(:last-child) {
      margin-right: 0.24rem;
    }
  }

  .good__price {
    font-size: $font-size-xl;
  }
}

@mixin names-headings {
  color: $text-primary-color;
  font-weight: $base-font-weight;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  @include names-headings;
  width: 124px;
  height: 48px;
  border: 1px solid $button-primary-color;
  box-sizing: border-box;
  background: transparent;
  text-align: center;
  font-size: $font-size-xs;
  cursor: pointer;
}