// Form
.authorization-form {
  background-color: rgba(0,0,0,.7);

  h2 {
    margin: 1.9rem 6rem;
    padding: 0;
    text-align: center;
    color: $color-black;
    font-size: $font-size-xxl;
    text-transform: uppercase;
  }

  .form-group {
    margin: 1rem 2.5rem;
    text-align: center;

    input {
      box-sizing: border-box;
      padding: 0.6rem;
      width: 100%;
      border: 1px solid $color-black;
      outline: none;
      color: $color-black;
      font-size: $font-size-m;
    }
  }

  .error-field {
    margin: 0.5rem 2.5rem 0 2.5rem;
    width: 360px;
    height: 20px;
    border: none;
    background: transparent;
    color: red;
    font-size: $font-size-xxs;
    text-align: center;
  }
}

.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus {
  border: 1px solid $color-lilac;
}

.form-group input[type="submit"] {
  margin-top: 0;
  border: none;
  background-color: $color-black;
  color: $color-white;
  font-weight: bold;
  text-transform: uppercase;
  transition: .3s;

  &:hover {
    cursor: pointer;
  }
}